extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#modals") Модальные окна
            li
              a(href="#buttons") Кнопки
            li
              a(href="#forms") Элементы форм

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          img(src="img/svg/logo.svg", width="300", alt="Логотип проекта")
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Модальные окна
        section.uikit__section(id="modals")
          h2.uikit__h2 Модальные окна
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .modal--order-now
            .uikit__btn
              +btn({text: "Order now"}).btn--black.btn--radius-100(data-open-modal="order-now")
            pre
              |
              code(class="language-pug").
                +btn({text: "Order now"})(data-open-modal="order-now")

        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn.btn--black.btn--radius-100
            .uikit__btn
              +btn({text: "Кнопка"}).btn--black.btn--radius-100
            pre
              |
              code(class="language-pug").
                +btn({text: "Кнопка", href: "#"}).btn--black.btn--radius-100

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Элементы форм

          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="email"
            +custom-input({
              inputType: "email",
              inputLabel: "Введите вашу почту",
              inputName: "user-mail",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "email",
                  inputLabel: "Email",
                  inputName: "user-mail",
                })

          .uikit__component
            p.uikit__text.uikit__text--class +custom-toggle \ .custom-toggle--checkbox
            +custom-toggle({
              inputLabel: "Чекбокс",
              inputName: "user-agreement",
              inputValue: "user-agreement-1",
              inputChecked: false
            }).custom-toggle--checkbox
            pre
              |
              code(class="language-pug").
                +custom-toggle({
                  inputLabel: "Чекбокс",
                  inputName: "user-agreement",
                  inputValue: "user-agreement-1",
                  inputChecked: false
                }).custom-toggle--checkbox


  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--order-now")(data-modal="order-now")
    +modal-order-now()
